<h1><%= @wiki.title %></h1>
<% if @wiki.private == false %>
  <strong>Public Wiki</strong>
<% else %>
  <strong>Private Wiki</strong>
<% end %>

<h4>Created by <%= @wiki.user.email %></h4>
<hr />

<div class="row">
  <div class="col-md-8">
    <p><%=  markdown_text(@wiki.body) %></p>
    <hr />

    <% unless @wiki.public? %>
      <p>Collaborators:</p>
      <% unless @wiki.collaborators.empty? %>
        <% @wiki.collaborators.each do |collaborator| %>
          <p><%= collaborator.user.username %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% if current_user.role == "admin" %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% end %>
    <%= link_to "Back to Wiki List", wikis_path, class: 'btn btn-default' %>
  </div>
</div>
<hr />
<% if @wiki.is_owned_by(current_user) && !@wiki.public?%>
  <%= link_to "Add/Update collaborators", edit_collaborator_path(:id => @wiki.id), class: 'btn btn-primary'%>
<% end %>
