<h1><%= @wiki.title %></h1>
<% if @wiki.private == false %>
  <strong>Public Wiki</strong>
<% else %>
  <strong>Private Wiki</strong>
<% end %>

<h4>Created by <%= @wiki.user.email %></h4>
<div class="row">
  <div class="col-md-8">
    <p><%=  markdown_text(@wiki.body) %></p>
    <p>Collaborators:</p>
    <% unless @wiki.collaborators.empty? %>
      <% @wiki.collaborators.each do |collaborator| %>
        <p>collaborators.username</p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% if current_user.role == "admin" %>
      <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this wiki?'} %>
    <% end %>
    <%= link_to "Back to Wiki List", wikis_path, class: 'btn btn-default' %>
    <hr />
    <%= render partial: 'collaborators/collaborator', locals: {wiki: @wiki} %>
  </div>
</div>
